<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

    <reference id="mySampleService" interface="my.sample.provider.SampleService" />

    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="my/echo">
            <action class="my.sample.consumer.EchoCommand">
                <property name="service" ref="mySampleService" />
            </action>
        </command>
    </command-bundle>

    <reference-list id="myDecorators" interface="my.sample.provider.SampleDecorator"/>

    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="my/decorate">
            <action class="my.sample.consumer.DecoratorCommand">
                <property name="decorators" ref="myDecorators" />
            </action>
        </command>
    </command-bundle>

</blueprint>
