<?xml version="1.0" encoding="UTF-8"?>

<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
           xmlns:cxf="http://cxf.apache.org/blueprint/core"
           xmlns:jaxrs="http://cxf.apache.org/blueprint/jaxrs">

    <cxf:bus>
        <cxf:features>
            <cxf:logging/>
        </cxf:features>
    </cxf:bus>

    <reference id="logService" interface="my.sample.activator.SampleLogger" availability="mandatory"/>

    <jaxrs:server address="/items" id="itemService">
        <jaxrs:serviceBeans>
            <bean class="my.sample.rest.impl.ItemServiceImpl">
                <property name="logger" ref="logService"/>
            </bean>
        </jaxrs:serviceBeans>
        <jaxrs:invoker>
            <bean class="my.sample.rest.impl.SampleInvoker">
                <property name="logger" ref="logService"/>
            </bean>
        </jaxrs:invoker>
        <jaxrs:features>
            <bean class="org.apache.cxf.validation.BeanValidationFeature">
                <property name="provider" ref="myProvider" />
            </bean>
        </jaxrs:features>
        <jaxrs:providers>
            <bean class="my.sample.rest.impl.MyExceptionMapper" />
        </jaxrs:providers>
    </jaxrs:server>

    <bean id="myProvider" class="org.apache.cxf.validation.BeanValidationProvider">
        <argument type="javax.validation.ValidatorFactory" ref="validator-factory" />
    </bean>

    <bean id="validator-factory" class="javax.validation.ValidatorFactory" factory-ref="validator-factory-builder" factory-method="build" />

    <bean id="validator-factory-builder" class="my.sample.rest.impl.ValidatorFactoryBuilder" />
</blueprint>

