<?xml version="1.0" encoding="UTF-8"?>

<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

    <reference id="logService" interface="my.sample.activator.SampleLogger" availability="mandatory"/>

    <service id="rest-service" interface="my.sample.rest.api.ItemService" activation="eager">
        <bean class="my.sample.rest.impl.ItemServiceImpl">
            <property name="logger" ref="logService"/>
        </bean>
    </service>

    <!--TODO: what about invoker?-->
    <!--<bean class="my.sample.rest.impl.SampleInvoker">-->

</blueprint>

