<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0" default-activation="eager" >

    <reference id="logService" interface="org.osgi.service.log.LogService" availability="optional" />

    <service interface="my.sample.activator.SampleLogger">
        <bean class="my.sample.activator.impl.DefaultLogger">
            <property name="logger" ref="logService" />
        </bean>
    </service>
    
</blueprint>